<h1>Home</h1>
<div class="panel panel-primary container-z1">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-10">
                <h3>Welcome</h3>
                <p>to the Velocity Partners Colombia HR Administrator</p>
                <p class="text-info">Click on one item of the above menu for starting a task.</p>
            </div>
            <div class="col-md-2">
                <img src="img/logo.jpg" class="img-responsive front-page-logo">
            </div>
        </div>
    </div>
</div>
