<!DOCTYPE html>
<html class="no-js" lang="en" ng-app="usersModule">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="../../../apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="../../../css/normalize.css">
    <link rel="stylesheet" href="../../css/vendor/bootstrap-paper.css">
    <link rel="stylesheet" href="../../css/main.css">

    <script src="../../js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>
<div class="alert alert-dismissible alert-warning">
    <button type="button" class="close" data-dismiss="alert">X</button>
    <h4>Warning!</h4>
    You are using an <strong>outdated</strong> browser. Please
    <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
</div>
<![endif]-->



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="../index.html"><img src="../../img/humanity-logo.jpg"></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="true">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Users <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="users.html"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> List Users</a></li>
                        <li><a href="users-create.html"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create Users</a></li>
                        <li class="divider"></li>
                        <li><a href="users-admin.html"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Administrate Users Model</a></li>
                    </ul>
                </li>
                <li><a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Send Emails</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Generate Certificate</a></li>
            </ul>
            <!-- User Menu-->
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">
                        <span class="text-primary">Cristian Guti&eacute;rrez </span><span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> My Profile</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> My notifications</a></li>
                        <li class="divider"></li>
                        <li class="bg-danger"><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Log out</a></li>

                    </ul>
                </li>
                <li> <img class="nav-login-img" src="../../img/yayo.jpg" alt="yayo" class="img-circle"></li>
            </ul>
            <!-- -->
        </div>

    </div>
</nav>
<!-- Breadcrums -->
<ul class="breadcrumb">
    <li><a href="../index.html">Home</a></li>
    <li class="active">Users</li>
</ul>
<!-- End Breadcrums -->

<!-- Page -->
<div class="container" ng-controller="ListUsersController as listUsers">
    <!-- Intro -->
    <h1>{{listUsers.moduleName}}</h1>
    <div class="panel panel-primary container-z1">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-2 text-center">
                    <a href="users-create.html" class=" btn btn-default">Create new user</a>
                </div>
                <div class="col-md-10 text-right">
                    <form class="form-inline">
                        <div class="form-group has-warning">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
                                <input type="text" class="form-control" id="exampleInputAmount" placeholder="String">
                                <div class="input-group-addon"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></div>
                                <select class="form-control" id="inputProject">
                                    <option>Name</option>
                                    <option>Last Name</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-warning">Go</button>
                        </div>

                    </form>
                </div>

            </div>
            <table class=" table-striped table-hover table " ng-controller="ListTableCtrl as list">
                <thead>
                <tr>
                    <th>{{list.idField}}</th>
                    <th>{{list.nameField}}</th>
                    <th>{{list.lastNameField}}</th>
                    <th>{{list.statusField}}</th>
                </tr>
                </thead>
                <tbody ng-repeat="record in list.data">
                <tr>
                    <td>{{record.id}}</td>
                    <td>{{record.name}}</td>
                    <td>{{record.lastName}}</td>
                    <td><span class="label" ng-class="{'label-success' : record.status}">{{list.getStatusName(record.status)}}</span></td>
                </tr>
                </tbody>
            </table>
            <!-- Pagination -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="pagination">
                        <li class="disabled"><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>
            </div>
            <!-- End Pagination-->



        </div>
    </div>
    <!-- End Intro -->
</div>



<!-- End Page -->

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="../../js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="../../js/vendor/bootstrap.min.js"></script>
<script src="../../js/plugins.js"></script>

<script src="../../../node_modules/angular/angular.js"></script>
<script src="../../js/app/modules/users/createUsers.controller.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
</body>
</html>
